 /* Using css transition for smooth */

 @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Square+Peg&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

*, *::after, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
    padding:10px 50px;
}
.cards {
    display: flex;
    /* unnecessary */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    width: 90vw;
    height: 100%;
    gap: 10px;
}

.card {
    width: 150px;
    height: 80vh;
    position: relative;
    transition: width 1s ease-in;
    cursor: pointer;


    /* use this if .card inline style="background-image: url("...") */
    /* background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    transition: flex 0.7s ease-in;
    border-radius: 50px; */
    /* <-- set the width of each flex; */
    /* flex: 0.5;  */

}


img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

label {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    /* opacity 0 to hide */
    opacity: 0;
    /* transition: opacity 1s ease-in; */
    transition: opacity 0.3s ease-in 0.4s;
    font-size: 3rem;
    font-family: 'Square Peg', cursive;
}
/* ============================== */
.active.card {
    width: 600px;
}

.active > label {
    opacity: 1;
}

/* ============================= */
/* If screen < 480px, show only 3 cards */

@media(max-width: 480px){
    .card:nth-of-type(4), .card:nth-of-type(5){
        display: none;
    }

}